#Sistemas Operacionas B Projeto 1
#Baseado no A simple Linux char driver for the BBB
#pelo autor Derek Molloy
#http://www.derekmolloy.ie/
#Gabriela Diamante RA 11183399
#Janaina sanches RA 07270085
#Yessica Melaine Castillo RA 13054895

#Rules file for the ebbchar device driver
KERNEL=="cryptomodule", SUBSYSTEM=="ebb", MODE="0666"
